<section class="more-info">
  <div class="container">
    <div class="row">
      <hr>
    </div>
    <div class="row">
      <div class="container">
        <div class="referentia">
            <h3>¡VIVE BIEN!</h3>
            <p>CENTENARIO ES EL LUGAR PERFECTO PARA TI.</p>
            <a href="#" class="btn btn-default btn-block">QUIERO MÁS INFORMACIÓN</a>
        </div>
      </div>
    </div>
    <div class="row imagescenter">

      <img src="assets/images/info.jpg" alt="Mas información" class="img-responsive">
    </div>
  </div>
</section>
