<section class="contact">
  <div class="container">
    <div class="formdepa">
      <form class="contact">
        <h3>tu depa desde</h3>
        <h2>· $745,000 ·</h2>
        <h3>¿Estás interesado?</h3>
        <p>Déjanos tus datos y un asesor se comunicará contigo para darte todos los detalles.</p>
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="telephone" placeholder="Número de teléfono o celular">
        </div>
        <div class="form-group">
          <input type="mail" class="form-control" name="mail" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="availability" placeholder="¿En qué horario te podemos llamar?">
        </div>
        <button type="button" name="button" class="btn-default btn-block">QUIERO QUE ME LLAMEN</button>
      </form>
    </div>
  </div>
</section>
