<nav class="navbar navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">
         <img src="assets/images/logo_punta_alta.png" alt="logo" class="img-responsive">
       </a>
     </div>
     <div class="navbar-right main-nav" id="navbar">
        <ul class="nav navbar-nav ">
         <li>
           <a href="tel:+3310854239">
             <i class="fa fa-phone" aria-hidden="true"></i>
           <b>33 1085 4239</b> · De 9:00 a 2:00 y 4:00 a 7:00</a>
        </li>
       </ul>
     </div>
   </div>
 </nav>
