.navbar
  background-color: #fff
  min-height: 80px
  display: flex
  align-items: center
  justify-content: center
  .navbar-brand
    img
      max-height: 40px
      position: relative
      top: -45%
