<section class="mainsection">
  <div class="call">
    <a href="tel:+3310854239" class=" hidden-xs visible-sm-*" angulartics2On="click" angularticsEvent="CallPhone" angularticsCategory="Desktop">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <b>33 1085 4239</b> · De 10:00 am a 7:00 pm
    </a>
    <a href="tel:+3310854239" class="hidden-sm hidden-md hidden-lg callme" angulartics2On="click" angularticsEvent="CallPhone" angularticsCategory="Mobile">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <i class="fa fa-phone" aria-hidden="true"></i>
      llámanos
    </a>
  </div>
  <owl-carousel id="owl-slide1"
       [options]="{items: 1, autoplay: true, mouseDrag: false ,loop:true, dots: false, navigation: false, animateOut: 'fadeOut', animateIn: 'fadeIn'}"
       [class]="['owl-slide1']">
       <div class="item" *ngFor="let img of images" [ngStyle]="{'background-image': 'url(assets/images/slider/main/' + img +')'}">
         <div class="whitebackground"></div>
            <div class="container">
             <div class="row">
               <div class="logo">
                    <img src="assets/images/logo.png" alt="logo" class="img-responsive">
               </div>
               <div class="title">
                  <h2>
                    ÚLTIMOS<br/> 10 DEPAS
                  </h2>
               </div>
             </div>
           </div>
       </div>
   </owl-carousel>

</section>
