<section class="location">
  <div class="container-fluid">
    <div class="row">
      <div class="titles">
        <h2>RÁPIDAS VÍAS DE ACCESO, A 3 MIN. DEL ZOOLÓGICO</h2>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 nomargin">
            <div class="list">
                <ul class="list-designer">
                  <li><span>Seguridad e ingreso controlado</span></li>
                  <li><span>Excelente ubicación</span></li>
                  <li><span>Estacionamiento subterráneo</span></li>
                </ul>
                <div class="href-button">
                  <a href="#" class="btn btn-default btn-block">QUIERO MÁS INFORMACIÓN</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 nomargin">
          <div class="location-place">
              <img src="/assets/images/map.jpg" alt="Vías rapidas" class="img-responsive">
          </div>

        </div>

    </div>
  </div>
</section>
