<section class="mainsection">
  <div class="call">
    <a href="tel:+3318455714" class=" hidden-xs visible-sm-*">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <b>33 1845 5714</b> · De 9:00 am a 7:00 pm
    </a>
    <a href="tel:+3318455714" class="hidden-sm hidden-md hidden-lg callme">
      <i class="fa fa-phone" aria-hidden="true"></i>
      llámanos
    </a>
  </div>
  <owl-carousel id="owl-slide1"
       [options]="{items: 1, autoplay: true, mouseDrag: false ,loop:true, dots: false, navigation: false, animateOut: 'fadeOut', animateIn: 'fadeIn'}"
       [class]="['owl-slide1']">
       <div class="item" *ngFor="let img of images" [ngStyle]="{'background-image': 'url(assets/images/slider/main/' + img +')'}">
         <div class="whitebackground"></div>
            <div class="container">
             <div class="row">
               <div class="logo">
                    <img src="assets/images/logo.png" alt="logo" class="img-responsive">
               </div>
             </div>
           </div>
       </div>
   </owl-carousel>

</section>
